.content {
  grid-area: c;
  background-color: rgb(231 233 239);
}
.newPost {
  display: flex;
  margin-bottom: 10px;
}
.myposts{
  padding: 10px;
}
.posts {

  width: 70%;
  display: flex;
  flex-direction: column;
}
